<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
</head>
<body>
    <a href="{% url "menu" %}">Back to main page</a>
    <p> {{ owner }}'s Cart: </p>
    <ol>
    {% if orders_list %}
        <table>
        {% for item in orders_list %}<tr>
            <td width="50%"><li>{{ item }}</td><td><a href="{% url 'delete_item' item.id %}">Delete item</a></td></li>
        </tr>{% endfor %}
        </ol>
        </table>
        <p>Total: {{ total_price }}</p>
        <button><a href="{% url 'clean_cart'%}">Clean cart</a></button>
        <button>Order</button>
    {% else %}
        <p>Your shopping car is empty!</p>
    {% endif %}
</body>
</html>