<!DOCTYPE html>
<html lang="en">
{% extends "orders/base.html" %}
<head>
    {% block head %}
    <title>Shopping cart</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    {% endblock %}
</head>
<body>
{% block body %}
    <a href="{% url "menu" %}">Back to main page</a>
    <p class="heading-cart"> {{ owner.capitalize }}'s Shopping Cart: </p>
    <ul>
    {% if order_numb %}
        <table class="table table-hover cart">
        <tr>
            <th>#</th><th>Order</th><th>Price </th><th>Actions</th><th>Topping</th>
        </tr>
        {% for order in order_numb %}
            <!-- Items chosen -->
            {% for item in order.items.all %}
                <tr>
                <td>{{ forloop.parentloop.counter }}.</td>
                <td>
                    <li>{{ item.name }} {{ item.type }}, {{ item.size }}</td>
                    <td>{{ item.price }} </td>
                    <td><a href="{% url 'delete_item' item.id %}">Delete item</a></td>
                <!-- showing chosen toppings -->
                     {% if 'topping' in item.type and order.toppingchoice is not None %}
                        <td> {{ order.toppingchoice }}
                     <!-- Select toppings -->
                        <!-- Passing order id with submitted topping -->
                        <form method="post" action="{% url 'add_topping' order.id item.type %}">
                        {% csrf_token %}
                        <select name="topselect" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                        {% if order.toppingchoice in toppings %}
                                <option selected>{{order.toppingchoice}}</option>
                        {% else %}
                            <option selected>Select Topping</option>
                        {% endif %}
                            {% for topping in toppings %}
                                <option value={{ topping }}>{{ topping }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary mt-3" id="choose-topping">Add</button>
                        <button class="btn btn-primary mt-3" id="clear-topping"><a class="button clr" href="{% url 'clear_topping' order.id %}">Clear</a></button>
                        </form>

                        </td>
                     {% else %} <td></td>
                    {% endif %}
                    </li>
                </tr>
            {% endfor %}
        {% endfor %}
        <tr><td></td>
        <td class="bold">Total:</td><td class="bold">{{ total_price }}</td>
            <td><a href="{% url 'clean_cart'%}">Clean cart</a></td><td></td></tr>
        </table>
    </ul>
    <button type="button" class="btn btn-success btn-lg order float-right" id="make-order"><a id="make-order-link" href="{% url "fulfill" %}">Order</a></button>
    {% else %}
        <p class="empty">Your shopping car is empty!</p>
    {% endif %}


<!--Scripts for select customization -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>


{% endblock %}
</body>
</html>