<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping cart</title>
</head>
<body>
    <a href="{% url "menu" %}">Back to main page</a>
    <p> {{ owner }}'s Cart: </p>
    <ul>
    {% if orders_list %}
        {% for item in orders_list %}
        <li> {{ item }} </li>
            {% endfor %}</ul>
        <!-- Deleting through accessing id in this shopping cart -->
        <ul>
        {% for id in item_id %}
          <li><a href="{% url 'delete_item' id %}">Delete item</a></li>
        {% endfor %}</ul>
        <p>Total: {{ total_price }}</p>
        <button><a href="{% url 'clean_cart'%}">Clean cart</a></button>
        <button>Order</button>
    {% else %}
        <p>Your shopping car is empty!</p>
    {% endif %}
</body>
</html>