{% extends 'orders/base.html' %}
<head>
    <title>Directions to Domuzcuk's Pizza</title>
</head>
{% block body %}
    <h2>Location and Directions</h2>
    <a href="https://www.google.ru/maps/place/Koc+University/@41.20207,29.0719155,15.62z/data=!4m5!3m4!1s0x409fe093fb4f1e2f:0xb51b89285c845350!8m2!3d41.20543!4d29.0724115?hl=en">Google Maps</a>
    <p class="mt-2">We're open for you at Koc University, Istanbul.</p>
    <p>Located at Ford's Square. Come enjoy our pizza!</p>
    <img src="https://i.pinimg.com/originals/91/e8/3b/91e83b036d200f5a6b30d9544ce569d1.jpg">
{% endblock %}