<!DOCTYPE html>
{% extends "orders/base.html" %}
<html lang="en">
<head>{% block head %}
    <title>Menu</title> {% endblock %}
</head>
<body>
{% block body %}
    {% if user.is_authenticated %}
        <button type="button" class="btn btn-outline-success btn-lg mt-4"><a class="button" href="{% url "cart" %}">Shopping Cart</a></button>
        <button type="button" class="btn btn-outline-danger btn-lg logout mt-4"><a class="button" href="{% url "logout" %}">Log out</a></button>
    {% else %}
        <p>To make an order, please <a href="{% url "login" %}">log in</a>
        or <a href="{% url "signup" %}">register</a>.</p>
    {% endif %}
    <h1>Our menu</h1>
    <div class="col-8">
        <tr>
            {% for category in category %} <a>{{ category.ctg_name }} | </a> {% endfor %}
        </tr>
    <h3> Regular Pizza</h3>
        <table class="table table-hover">
        <th>
            <td>Small</td> <td>Large</td>
            </th>
            {% for Pizza in regular %}
                {% if Pizza.size == 'S' or Pizza.size == 'SING' %}<tr>
                <td width="50%">{{ Pizza.type }}</td>
                    <td width="25%">{{ Pizza.price }} <a href="{% url 'add' Pizza.id %}">+</a></td>
                    {% elif Pizza.size == 'L' %}
                    <td width="25%">{{ Pizza.price }}  <a href="{% url 'add' Pizza.id %}">+</a></td></tr>
                {% endif %}
            {% endfor %}
        </table>
        <h3> Sicilian Pizza</h3>
        <table class="table table-hover">
        <th>
            <td>Small</td> <td>Large</td>
            </th>
            {% for SizPizza in sicilian %}
                {% if SizPizza.size == 'S' or SizPizza.size == 'SING' %}
                <tr>
                <td width="50%">{{ SizPizza.type }} </td>
                    <td width="25%">{{ SizPizza.price }} <a href="{% url 'add' SizPizza.id %}">+</a></td>
                    {% elif SizPizza.size == 'L' %}
                    <td width="25%">{{ SizPizza.price }} <a href="{% url 'add' SizPizza.id %}">+</a></td></tr>
                {% endif %}
            {% endfor %}
        </table>
        <h3> Toppings </h3>
            <ul class="list-group list-group">
                {% for topping in toppings %}
                        <li class="list-group-item">{{ topping.topping }} </li>
                {% endfor %}
        </ul>
        <h3>Subs</h3>
            <table class="table table-hover table-striped">
                <th>
                    <td>Small</td><td>Large</td>
                 </th>
                 {% for subs in sub %}
                        {% if subs.size == 'S' or subs.size == 'SING' %}<tr>
                            <td width="50%">{{ subs.type }} </td>
                            <td width="25%">{{ subs.price }} <a href="{% url 'add' subs.id %}">+</a></td>
                            {% elif subs.size == 'L' %}
                            <td width="25%">
                            {{ subs.price }} <a href="{% url 'add' subs.id %}">+</a>
                            </td></tr>
                        {% endif %}
                {% endfor %}
            </table>
        <h3> Pastas </h3>
            <ul class="list-group">
                {% for pasta in pasta %}
                        <li class="list-group-item">{{ pasta.type }} {{ pasta.price }}<a href="{% url 'add' pasta.id %}">+</a> </li>
                {% endfor %}
            </ul>
        <h3> Salads </h3>
            <ul class="list-group">
                {% for salad in salad %}
                        <li class="list-group-item">{{ salad.type }} {{ salad.price }} <a href="{% url 'add' salad.id %}">+</a> </li>
                {% endfor %}
            </ul>
        <h3> Dinner Platters</h3>
            <ul class="list-group">
                {% for platter in platter %}
                    {% if platter.size == 'S' or platter.size == 'SING' %}
                        <li class="list-group-item">{{ platter.type }}
                          Small ${{ platter.price }} <a href="{% url 'add' platter.id %}">+</a>
                            {% elif platter.size == 'L' %}Large ${{ platter.price }} <a href="{% url 'add' platter.id %}">+</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
     </div>
    <p></p>
{% endblock %}
</body>
</html>